@import url(https://fonts.google.com/specimen/Outfit);
body{
    font-family: Outfit;
    font-weight: 400, 700;
    background-color: hsl(220, 15%, 55%);
    width: 1440px;
    height: auto;
}
.main{
    display: block;
    width: 250px;
    height: 400px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    margin:150px auto;
    

}

img{
    width: 230px;
    height:200px;
    object-fit: cover;
    margin: 10px 10px 10px 10px;
    padding: auto;
    border-radius: 10px;

    
}
p{
    text-align: center;
    font-size: 15px;
    font-family:Outfit;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }